<section class="relative bg-[url('/images/bg-facts.png')] bg-cover bg-center bg-no-repeat py-20 mb-20">
    <div class="h-full w-full bg-[#F4FAFDF7]/95 absolute top-0 left-0"></div>
    <div class="relative mx-auto z-10 max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col flex-1 gap-10 lg:gap-0 lg:flex-row lg:justify-between">
            <div
                class="group w-full lg:w-1/4 border-b pb-10 lg:border-b-0 lg:pb-0 lg:border-r border-gray-300 flex flex-col items-center ">
                <span
                    class="h-14 w-14 rounded-full group-hover:bg-primary-500 group-hover:text-white text-primary-900 transition duration-300 bg-white flex items-center justify-center mb-4">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /></svg>
                </span>
                <div class="font-manrope font-bold text-4xl text-green-300 text-center ">
                    {{ 'stats.YEARS_EXPERIENCE.VALUE'| translate}}
                </div>
                <span class="text-lg text-gray-500 text-center block my-4">{{ 'stats.YEARS_EXPERIENCE.DESCRIPTION'|
                    translate}}</span>
                <p class="text-sm text-gray-400 lg:max-w-[70%] text-center">
                    {{ 'stats.YEARS_EXPERIENCE.DETAILS'| translate}}
                </p>
            </div>
            <div
                class="group w-full lg:w-1/4 border-b pb-10 lg:border-b-0 lg:pb-0 lg:border-r border-gray-300 flex flex-col items-center ">
                <span
                    class="h-14 w-14 rounded-full group-hover:bg-primary-500 group-hover:text-white transition duration-300 bg-white flex items-center justify-center mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 44 45" fill="none">
                        <path
                            d="M41.2788 21.4407L37.0576 23.5428L31.5889 13.0838L35.8613 10.9475C36.1788 10.7857 36.5475 10.756 36.8868 10.8648C37.2262 10.9737 37.5087 11.2123 37.6729 11.5286L41.877 19.5779C41.9622 19.739 42.0144 19.9156 42.0304 20.0972C42.0464 20.2788 42.0259 20.4617 41.9702 20.6353C41.9145 20.8089 41.8246 20.9695 41.7059 21.1078C41.5871 21.2462 41.4419 21.3593 41.2788 21.4407V21.4407Z"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M6.97908 23.3714L2.75789 21.2523C2.59536 21.1726 2.4505 21.0611 2.33193 20.9244C2.21337 20.7876 2.12351 20.6284 2.06771 20.4562C2.01191 20.284 1.9913 20.1024 2.00711 19.922C2.02292 19.7417 2.07483 19.5664 2.15974 19.4066L6.36385 11.3573C6.5283 11.0412 6.80968 10.8018 7.14804 10.69C7.4864 10.5783 7.85502 10.6031 8.17537 10.7591L12.4478 12.8954L6.97908 23.3714Z"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M37.0576 23.5425L34.3232 26.7554L28.0342 33.0444C27.8628 33.2047 27.6551 33.3211 27.4289 33.3836C27.2027 33.4461 26.9647 33.4529 26.7354 33.4033L16.8232 30.9253C16.6422 30.8748 16.4735 30.7876 16.3276 30.6689L6.97949 23.3716"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M34.3238 26.7554L26.8043 21.2866L24.6168 22.9273C23.6691 23.6346 22.5181 24.0168 21.3356 24.0168C20.153 24.0168 19.002 23.6346 18.0543 22.9273L17.1315 22.2266C16.9754 22.1079 16.8463 21.9575 16.7528 21.7852C16.6592 21.613 16.6033 21.4228 16.5888 21.2273C16.5742 21.0318 16.6014 20.8354 16.6684 20.6512C16.7355 20.467 16.8409 20.2991 16.9776 20.1587L23.6769 13.4766C23.8027 13.3513 23.952 13.2522 24.1162 13.1847C24.2805 13.1173 24.4564 13.0829 24.6339 13.0835H31.5895"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M12.5508 12.8953L21.3179 10.3318C21.6294 10.2424 21.9625 10.2667 22.2578 10.4001L28.1709 13.0832"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M19.2842 37.0093L14.1401 35.7104C13.9305 35.6631 13.7364 35.5631 13.5762 35.4199L9.71387 32.0703"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
                <div class="font-manrope font-bold text-4xl text-green-300 text-center ">
                    {{ 'stats.SATISFIED_CLIENTS.VALUE'| translate}}
                </div>
                <span class="text-lg text-gray-500 text-center block my-4">{{ 'stats.SATISFIED_CLIENTS.DESCRIPTION'|
                    translate}}</span>
                <p class="text-sm text-gray-400 lg:max-w-[70%] text-center">
                    {{ 'stats.SATISFIED_CLIENTS.DETAILS'| translate}}
                </p>
            </div>
            <div
                class="group w-full lg:w-1/4 border-b pb-10 lg:border-b-0 lg:pb-0 lg:border-r border-gray-300 flex flex-col items-center ">
                <span
                    class="h-14 w-14 rounded-full group-hover:bg-primary-500 group-hover:text-white text-primary-800 transition duration-300 bg-white flex items-center justify-center mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 44 44" fill="none">
                        <path d="M26.2227 5.875V15.2812H35.6289" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M25.5508 22L29.582 26.0312L25.5508 30.0625" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M18.832 22L14.8008 26.0312L18.832 30.0625" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M34.2852 38.125C34.6415 38.125 34.9833 37.9834 35.2353 37.7314C35.4873 37.4794 35.6289 37.1376 35.6289 36.7812V15.2812L26.2227 5.875H10.0977C9.74127 5.875 9.39948 6.01657 9.14748 6.26858C8.89548 6.52058 8.75391 6.86237 8.75391 7.21875V36.7812C8.75391 37.1376 8.89548 37.4794 9.14748 37.7314C9.39948 37.9834 9.74127 38.125 10.0977 38.125H34.2852Z"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
                <div class="font-manrope font-bold text-4xl text-green-300 text-center ">
                    {{ 'stats.IT_PROBLEMS_SOLVED.VALUE'| translate}}
                </div>
                <span class="text-lg text-gray-500 text-center block my-4">{{
                    'stats.IT_PROBLEMS_SOLVED.DESCRIPTION'|
                    translate}}</span>
                <p class="text-sm text-gray-400 lg:max-w-[70%] text-center">
                    {{ 'stats.IT_PROBLEMS_SOLVED.DETAILS'| translate}}
                </p>
            </div>
            <div class="group w-full lg:w-1/4  flex flex-col items-center ">
                <span
                    class="h-14 w-14 rounded-full group-hover:bg-primary-500 group-hover:text-white transition duration-300 bg-white flex items-center justify-center mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-users-group">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
                        <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path d="M17 10h2a2 2 0 0 1 2 2v1" />
                        <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
                    </svg>
                </span>
                <div class="font-manrope font-bold text-4xl text-green-300 text-center ">
                    {{ 'stats.PRO_TEAM_MEMBERS.VALUE'| translate}}
                </div>
                <span class="text-lg text-gray-500 text-center block my-4">{{ 'stats.PRO_TEAM_MEMBERS.DESCRIPTION'|
                    translate}}</span>
                <p class="text-sm text-gray-400 lg:max-w-[70%] text-center">
                    {{ 'stats.PRO_TEAM_MEMBERS.DETAILS'| translate}}
                </p>
            </div>
        </div>
    </div>
</section>