<section class="mb-20">
    <!-- Container -->
    <div class="container-responsive py-16 md:py-20">
        <div class="flex flex-col items-center mb-8">
            <p class="mb-4 text-lg flex items-center gap-2">
                <span class="bg-green-600 w-2 h-2 inline-block"></span>
                <span>{{ 'team.OUR_CEOS' | translate}}</span>
            </p>
            <h2 class="text-4xl font-extrabold text-black text-center flex flex-col items-center">
                {{ 'team.MEET_OUR_EXPERTS' | translate}}
            </h2>
        </div>
        <div>
            <!-- Content -->
            <div class="container-responsive">
                <div class="flex flex-wrap lg:flex-nowrap gap-6 w-full">
                    <!-- Left Column -->
                    <div class="w-auto mx-auto lg:w-1/3 max-h-[400px] md:max-h-max rounded-xl overflow-hidden relative flex justify-center">
                        <div class="w-full h-full absolute bg-gradient-to-t from-gray-800/50 to-gray-600/50"></div>
                        <img  loading="lazy"  src="https://pagedone.io/asset/uploads/1696246522.png" alt="United Kingdom image"
                            class="w-full h-full object-cover">
                        <div class="absolute bottom-0 mb-6 text-center px-6">
                            <h5 class="text-white text-lg font-semibold leading-7 mb-2">United Kingdom</h5>
                            <p class="text-white text-base font-medium leading-6">
                                123 High Street, Westminster, London
                            </p>
                        </div>
                    </div>

                    <!-- Right Column with Grid Items -->
                    <div class="flex flex-col w-full lg:w-2/3">
                        <div class="flex flex-col mb-8">
                            <h3 class="text-3xl font-bold">Islam Mohamed</h3>
                            <p class="text-lg text-green-600 font-thin my-4">Lead Engineer Of Building</p>
                            <p class="text-sm text-gray-400">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book. </p>
                            <div class="flex gap-8 mt-4 text-green-600">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                                        <path d="M16.5 7.5v.01" />
                                    </svg> </span>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M8 11v5" />
                                        <path d="M8 8v.01" />
                                        <path d="M12 16v-5" />
                                        <path d="M16 16v-3a2 2 0 1 0 -4 0" />
                                        <path
                                            d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" />
                                    </svg> </span>
                                <span class="cursor-pointer">
                                    <svg xmlns="https://www.facebook.com/awan.is.eg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z" />
                                    </svg>
                                </span>
                                <span class="cursor-pointer">
                                    <svg xmlns="https://x.com/awanInnovate" width="24" height="24" viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="icon icon-tabler icons-tabler-filled icon-tabler-brand-twitter">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M14.058 3.41c-1.807 .767 -2.995 2.453 -3.056 4.38l-.002 .182l-.243 -.023c-2.392 -.269 -4.498 -1.512 -5.944 -3.531a1 1 0 0 0 -1.685 .092l-.097 .186l-.049 .099c-.719 1.485 -1.19 3.29 -1.017 5.203l.03 .273c.283 2.263 1.5 4.215 3.779 5.679l.173 .107l-.081 .043c-1.315 .663 -2.518 .952 -3.827 .9c-1.056 -.04 -1.446 1.372 -.518 1.878c3.598 1.961 7.461 2.566 10.792 1.6c4.06 -1.18 7.152 -4.223 8.335 -8.433l.127 -.495c.238 -.993 .372 -2.006 .401 -3.024l.003 -.332l.393 -.779l.44 -.862l.214 -.434l.118 -.247c.265 -.565 .456 -1.033 .574 -1.43l.014 -.056l.008 -.018c.22 -.593 -.166 -1.358 -.941 -1.358l-.122 .007a.997 .997 0 0 0 -.231 .057l-.086 .038a7.46 7.46 0 0 1 -.88 .36l-.356 .115l-.271 .08l-.772 .214c-1.336 -1.118 -3.144 -1.254 -5.012 -.554l-.211 .084z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                            <!-- Card 1 -->
                            <div class="relative w-fit mx-auto rounded-xl max-h-[400px] md:max-h-max md:w-full overflow-hidden flex justify-center">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-800/50 to-gray-600/50"></div>
                                <img  loading="lazy"  src="https://pagedone.io/asset/uploads/1696246522.png" alt="Germany image"
                                    class="w-full h-full object-cover">
                                <div class="absolute bottom-0 mb-6 text-center px-6">
                                    <h5 class="text-white text-lg font-semibold leading-7 mb-2">Germany</h5>
                                    <p class="text-white text-base font-medium leading-6">
                                        101 Unter den Linden<br>District, Berlin
                                    </p>
                                </div>
                            </div>

                            <!-- Card 2 -->
                            <div class="relative  w-fit mx-auto max-h-[400px] md:max-h-max md:w-full rounded-xl overflow-hidden flex justify-center">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-800/50 to-gray-600/50"></div>
                                <img  loading="lazy"  src="https://pagedone.io/asset/uploads/1696246522.png" alt="Germany image"
                                    class="w-full h-full object-cover">
                                <div class="absolute bottom-0 mb-6 text-center px-6">
                                    <h5 class="text-white text-lg font-semibold leading-7 mb-2">Germany</h5>
                                    <p class="text-white text-base font-medium leading-6">
                                        101 Unter den Linden<br>District, Berlin
                                    </p>
                                </div>
                            </div>

                            <!-- Card 3 -->
                            <div class="relative  w-fit mx-auto  max-h-[400px] md:max-h-max md:w-full rounded-xl overflow-hidden flex justify-center">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-800/50 to-gray-600/50"></div>
                                <img  loading="lazy"  src="https://pagedone.io/asset/uploads/1696246522.png" alt="Germany image"
                                    class="w-full h-full object-cover">
                                <div class="absolute bottom-0 mb-6 text-center px-6">
                                    <h5 class="text-white text-lg font-semibold leading-7 mb-2">Germany</h5>
                                    <p class="text-white text-base font-medium leading-6">
                                        101 Unter den Linden<br>District, Berlin
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>