<div class="bg-primary-800 py-1">
    <!-- Container -->
    <div class="container-responsive">
        <div class="flex flex-col md:flex-row items-center justify-between w-full py-4">
            <div class="flex flex-wrap w-full md:flex-1 gap-2 mb-2 md:mb-0">
                <div class="flex items-center gap-2 flex-wrap text-white font-normal text-xs sm:text-sm">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="text-cyan-500 h-5 w-5 sm:h-6 sm:w-6">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M12 12l3 2" />
                        <path d="M12 7v5" />
                    </svg>
                    <span class="">{{'contact.workingHours' | translate}}</span>
                </div>
                <div class="flex items-center gap-2 flex-wrap text-white font-normal text-xs sm:text-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="text-cyan-500 h-5 w-5 sm:h-6 sm:w-6">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                        <path d="M3 7l9 6l9 -6" />
                    </svg>
                    <a href="mailto:www.awan-is.com" class="">www.awan-is.com</a>
                </div>
            </div>
            <div class="flex md:w-auto w-full sm:justify-start lg:justify-end gap-2">
                <div class="hidden lg:flex items-center gap-2 flex-wrap text-white font-normal text-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="text-cyan-500 h-6 w-6">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                        <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                    </svg>
                    <span class="">{{'contact.ADDRESS' | translate}}</span>
                </div>
                <div class="flex items-center gap-2 text-white font-normal text-sm">
                    <a href="https://www.facebook.com/awan.is.eg" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="h-5 w-5 sm:h-6 sm:w-6">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                        </svg>
                    </a>
                    <a href="https://x.com/awanInnovate" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="h-5 w-5 sm:h-6 sm:w-6">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Calendly widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<!-- Calendly widget end -->
<div class="sticky top-0 z-40">

    <header>
        <nav class="bg-white w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
            <div class="container-responsive relative lg:top-0">
                <ul class="navigation flex flex-wrap justify-between items-center relative mx-auto ">
                    <a class="logo" href="#">
                        <img loading="lazy" src="images/Awan.svg" class="w-auto h-14 sm:h-16" alt="awan Logo" />
                    </a>
                    <input type="checkbox" id="check" />

                    <span
                        class="menu flex [&>li]:pl-4 [&>li>a]:text-center [&>li>a]:relative [&>li>a]:transition [&>li>a]:duration-200 [&>li>a]:ease-in-out [&>li>a]:font-medium [&>li>a]:text-lg">
                        <li><a href="javascript:void(0)"
                                [ngClass]="{'border-b-2 border-primary-600': currentSection === 'home'}"
                                (click)="scrollToElement('home')">{{ 'header.HOME' | translate}}</a></li>
                        <li><a href="javascript:void(0)"
                                [ngClass]="{'border-b-2 border-primary-600': currentSection === 'about'}"
                                (click)="scrollToElement('about')">{{ 'header.ABOUT_US' | translate}}</a></li>
                        <li><a href="javascript:void(0)"
                                [ngClass]="{'border-b-2 border-primary-600': currentSection === 'Products'}"
                                (click)="scrollToElement('Products')">{{ 'header.PRODUCTS' | translate}}</a></li>
                        <li><a href="javascript:void(0)"
                                [ngClass]="{'border-b-2 border-primary-600': currentSection === 'Services'}"
                                (click)="scrollToElement('Services')">{{ 'header.SERVICES' | translate}}</a></li>
                        <li><a href="javascript:void(0)"
                                [ngClass]="{'border-b-2 border-primary-600': currentSection === 'Clients'}"
                                (click)="scrollToElement('Clients')">{{ 'header.OUR_CLIENTS' | translate}}</a></li>
                        <li><a href="javascript:void(0)"
                                [ngClass]="{'border-b-2 border-primary-600': currentSection === 'Contact'}"
                                (click)="scrollToElement('Contact')">{{ 'header.CONTACT_US' | translate}}</a></li>
                        <li>
                            <span class="inline-block sm:hidden">
                                <app-lang />
                            </span>
                        </li>
                        <label for="check" class="close-menu">X</label>
                    </span>
                    <div class="flex items-center gap-4">
                        <span class="hidden sm:inline-block">
                            <app-lang />
                        </span>
                        <a href="javascript:void(0)" onclick="Calendly.showPopupWidget('https://calendly.com/awan-app-eg/20min'); return false;"
                            class="block bg-primary-600 px-4 py-4 my-2 text-xs sm:text-sm font-medium text-white shadow hover:bg-primary-700 focus:outline-none focus:ring active:bg-primary-500 sm:w-auto">
                            {{ 'common.GET_CONSULTING' | translate}}
                        </a>
                        <label for="check" class="open-menu cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-menu-4">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 6h10" />
                                <path d="M4 12h16" />
                                <path d="M7 12h13" />
                                <path d="M7 18h10" />
                            </svg>
                        </label>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
</div>