.close-menu{
  position: absolute;
  cursor: pointer;
  display: none;
}

.open-menu {
  display: none;
}

// .open-menu {
//   top: 50%;
//   right: 20px;
//   transform: translateY(-50%);
// }

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 991px) {
  .menu {
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding-top: 1rem;
    width: 73%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #000F3B;
    color: #fff;
    transition: all 0.5s ease-in-out;
    // text-transform: uppercase;
    // font-size: 24px;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }

  .close-menu,
  .open-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
}
